@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 35px;
  padding-top: 5px;
  background-color: rgb(238, 56, 56);
  color: rgb(129, 199, 101);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  z-index: 999;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0px 20px;
  margin-right: 20px;
}

ul > li {
  cursor: pointer;
}

ul > a {
  text-decoration: none;
  color: #ffffffff;
}

li:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}

